In [1]:
import pyarrow.parquet as pq
from glob import glob
import os

tweets_iter0=pq.ParquetDataset(glob(os.path.join('/scratch/spf248/twitter/data/classification/US/labeling/BERT/0/sample/', '*.parquet'))).read().to_pandas()
print(tweets_iter0.shape)
tweets_iter1=pq.ParquetDataset(glob(os.path.join('/scratch/spf248/twitter/data/classification/US/labeling/BERT/1/sample/iter1_bert4labling.parquet'))).read().to_pandas()
print(tweets_iter1.shape)

import pandas as pd
labels = pd.read_csv('/scratch/spf248/twitter/data/classification/US/labeling/BERT/labels.csv', lineterminator='\n')

(9800, 4)
(1000, 7)

In [2]:
labels.shape

(10507, 7)

In [3]:
print(tweets_iter0.dtypes)
tweets_iter0['tweet_id'] = pd.to_numeric(tweets_iter0['tweet_id'], downcast='integer')
tweets_iter1['tweet_id'] = pd.to_numeric(tweets_iter1['tweet_id'], downcast='integer')
print(tweets_iter0.dtypes)

tweet_id    object
text        object
keyword     object
target      object
dtype: object
tweet_id     int64
text        object
keyword     object
target      object
dtype: object

In [4]:
# training_data = tweets.join(labels, lsuffix='tweet_id', rsuffix='tweet_id')
training_data0 = pd.merge(tweets_iter0, labels, how='inner', on='tweet_id')
training_data0

,tweet_id,text,keyword,target,Unnamed: 0,is_unemployed,job_loss,job_search,is_hired,job_offer
0,730444383636459522,"I just got laid off, I think I cried a little ...",laid_off,target_i_lost_my_job_today,8296,yes,yes,no,no,no
1,387294960120107009,Laid off and had to sell my 2 tickets to @Pink...,laid_off,target_i_lost_my_job_today,2189,yes,no,no,no,no
2,282411950724505600,"I wasn't fired from my job, I was laid off. Yo...",laid_off,target_i_lost_my_job_today,54,yes,no,no,no,no
3,704676467393736705,I feel like I lost my job. I didn’t get laid o...,laid_off,target_i_lost_my_job_today,7787,no,no,no,no,no
4,748041925702332417,GOT LAID OFF FROM MY JOB 2 WEEKS AGO AND I WAS...,laid_off,target_i_lost_my_job_today,8644,no,yes,no,yes,no
...,...,...,...,...,...,...,...,...,...,...
9561,788583833180381184,RT @clarissa: I'm a UX designer/developer/stra...,position,target_anyone_hiring,9456,no,no,yes,no,no
9562,831217981195575296,Secretary of Labor Violations? Opposition Grow...,position,target_anyone_hiring,9871,no,no,no,no,no
9563,418875619661725696,Anyone know of places hiring serving/hosting p...,position,target_anyone_hiring,2840,no,no,yes,no,no
9564,613832234143866880,is anyone interested in working for Honda ? hm...,position,target_anyone_hiring,6104,no,no,no,no,yes
9565,969279088383987714,Expertise in aerospace or defense? Maryland Co...,position,target_anyone_hiring,10214,no,no,no,no,yes

In [5]:
training_data0.to_parquet('saved_data/training_data0.parquet')

In [6]:
# training_data = tweets.join(labels, lsuffix='tweet_id', rsuffix='tweet_id')
training_data1 = pd.merge(tweets_iter1, labels, how='inner', on='tweet_id')
training_data1

,tweet_id,text,sel_sample,sel_class,sel_threshold,model_score,model,Unnamed: 0,is_unemployed,job_loss,job_search,is_hired,job_offer
0,323595079333863424,Yall quit.talking about my baby Kobe !!!!! ):,filtered,is_unemployed,0.9,0.900345,BERT,628,no,no,no,no,no
1,376093437813993473,@OpTicIRed @RawCFGR i got laid off from my job...,filtered,is_unemployed,0.9,0.900337,BERT,1920,no,no,no,yes,no
2,577363004150386688,Keep that album to ya self and just quit now @...,filtered,is_unemployed,0.9,0.900333,BERT,5477,no,no,no,no,no
3,735169610853408771,omg I got a job interview today,filtered,is_unemployed,0.9,0.900331,BERT,8390,no,no,yes,no,no
4,578373483081678848,@socarolinesays I got fired from a job once an...,filtered,is_unemployed,0.9,0.900330,BERT,5492,no,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,355340793453625345,Day off today (:,random,lost_job_1mo,NaN,0.977949,BERT,1372,no,no,no,no,no
951,733802985055260672,Everybody pissing me off today,random,lost_job_1mo,NaN,0.977835,BERT,8360,no,no,no,no,no
952,792773968151404545,Yo I really thought I lost my phone yesterday 🙄,random,lost_job_1mo,NaN,0.977780,BERT,9536,no,no,no,no,no
953,418830182829391872,"If I fell off tomorrow, would you still love me",random,lost_job_1mo,NaN,0.977747,BERT,2838,no,no,no,no,no
954,617416438735728640,@dirtyj4321 i got back in town yesterday. Cele...,random,lost_job_1mo,NaN,0.977700,BERT,6157,no,no,no,no,no

In [7]:
training_data1.to_parquet('saved_data/training_data1.parquet')